:root{
    --color: #13055b;
}

body{
    margin: 0px;
}

/* HEADER */
header{
    margin: 10px 30px 0px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    /* LOGO */
    header figure{
        width: 20%;
        margin: 20px;
        font-size: 12px;
        text-align: center;
    }

    #logo{
        width: 100%;
        max-width: 80px;
    }
    /*ZONA DE NAVEGACIÓN */
    nav{
        width: 100%;
    }
    nav ul{
        margin: 0px;
        padding: 10px;
        list-style: none;
        display: flex;
        justify-content: end;
        width: 90%;
    }
    nav ul li{
        color: #000;
        font-size: large;
        text-align: center;
        margin: 10px;
    }

    nav ul a{
        text-decoration: none;
    }
    
    nav ul li:hover{
        color: var(--color);
        font-weight: bold;
    }

    .side-menu{
        display: none;
    }



/* MAIN */
main{
    margin: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    width: 90%;
}
    /* SECTION SOBRE MI */
    #sobre_mi{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto_sombre_mi{
        width: 50%;
        margin-right: 15px;
        text-align: justify;
    }

    .texto_sombre_mi .linea_top, .texto_sombre_mi h2{
        display: block;
        position: relative;
        font-size: 35px;
        letter-spacing: 5px;
        color: #000;
        margin: 0px;
    }

    .texto_sombre_mi h2{ 
        letter-spacing: 2px;
        font-weight: bold;
        color: var(--color);
    } 

    .texto_sombre_mi .linea_top::after{
        position: absolute;
        content: '';
        height: 4px;
        width: 45px;
        bottom: 10px;
        background-color: var(--color);
    }

    .texto_sombre_mi h1{
        display: block;
        font-size: calc(2em + 2vw);
        font-weight: bolder;
        margin: 0px;
    }
    

    .btns{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .btns input{
        margin: 5px;
        font-size: 14px;
        letter-spacing: 2px;
        color: #fff;
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(50, 50, 56);
    }

    .btns input:hover{
        background-color: var(--color);
    }

    .btns a{
        text-decoration: none;
    }

    #contenedor_img{
        width: 30%;
        position: relative;
        z-index: -1;
    }

    #contenedor_img img{
        align-items: center;
        height: 80%;
        width: 80%;
        margin-left: 40px;
        object-fit: cover;
    }
        /* ANIMACIÓN CÍRCULO FOTO CV*/
        .animacion_bola{
            position: absolute;
            z-index: -1;
            top: 52%;
            left: 50%;
            height: 110%;
            width: 80%;
            transform: translate(-50%, -50%);
            background-color: var(--color);
            animation: 8s linnear infinite;
            animation-name: mover_bola;
        }

        @keyframes mover_bola {
            0%,100%{
                border-radius: 45% 55% 30% 35% / 60% 30% 60% 60%;
            }
            25%{
                border-radius:  55% 45% 30% 35% / 50% 30% 60% 10%;
            }
            50%{
                border-radius:  65% 55% 25% 65% / 40% 60% 30% 60%;
            }
            25%{
                border-radius:  35% 65% 50% 40% / 60% 30% 40% 60%;
            }
        }



    /* SECTION MÁQINA VIRTUAL */
    .maquina_virtual{
        margin-top: 50px;
        text-align: start;
    }

    .articulos_ubuntu h3{
        font-size: 25px;
        margin-bottom: 0px;
    }

    .articulos_ubuntu ul li{
        margin-bottom: 10px;
        list-style:circle;
        padding-left: 20px;
        color: var(--color);
        font-size: 16px;
    }

    .articulos_ubuntu ul li:hover{
        color: var(--color);
        font-weight: bold;
    }

    .articulos_ubuntu a{
        text-decoration: none;
        color: black;
    }









/* PÁGINA INSTALACION-DE-UBUNTU-EN-MAQUINA-VIRTUAL.HTML */
/* PÁGINA INSTALACION-DE-GUEST-ADDITIONS-EN-UBUNTU.HTML */
/* PÁGINA INSTALACION-LAS-TARJETAS-RED-UBUNTU.HTML */
/* PÁGINA CREAR-SITIO-WEB-DENTRO-DEL-SERVIDOR-APACHE.HTML*/
.ubuntu{
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}

.ubuntu h1{
    width: 100%;
    text-align: center;
    display: block;
    font-size: calc(2em + 2vw);
    font-weight: bolder;
    text-decoration: underline;
}

.ubuntu h2{
    width: 100%;
    text-align: center;
    display: block;
    font-size: calc(1.6em + 1.6vw);
    font-weight: bolder;
    margin: 0px;
}

.ubuntu h3{
    margin-top: 80px;
    font-size: 28px;
    text-align: center;
}

.ubuntu ol, .ubuntu p{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    font-size: 18px;
}

.ubuntu li{
    width: 100%;
    margin-top: 40px;
    font-weight:bold;
    text-align: center;
}

.ubuntu li p{
    font-weight: 100;
    width: 95%;
    margin: 10px 0px 10px 10px;
}

.ubuntu .articulos_ubuntu{
    width: 95%;
}

.ubuntu .articulos_ubuntu li{
    text-align: justify;
    margin: 5px;
}

.ubuntu img{
    margin:10px 0px;
    width: 80%;  
    max-width: 500px; 
}

.ubuntu .fin{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 40px;
}

.ubuntu code{
    text-align: justify;
    white-space: pre-line;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 0px 20px 20px;
    border: 1px solid rgb(74, 74, 74);
    background-color: gainsboro;
    display: block;
}

.ubuntu span{
    font-weight: 100;
    width: 90%;
    text-align: start;
    background-color:#000; 
    color:#ffffff ;
    margin-left: 15px;
    padding: 10px;
    display: block;
}














/* RESPONSIVE */
@media  screen and (max-width: 500px) {

    header{
        top:0;
        margin: 0;
        padding: 4px 0px;
        position: fixed;
        z-index: 1;
        height: 70px;
    }
        /* LOGO */
        header figure{
            width: 20%;
            margin: 0px;
        }

        header figure figcaption{
            display: none;
        }

        #logo{
            width: 60%;
        }

        /* MENÚ HABURGUESA */
        .menu{
            width: 50%;
            margin-right: 30px;
        }
        .menu nav{
            display: none;
            position: absolute;
            width: 60%;
            position: fixed;
            height: 100%;
            transition: max-height .5s ease-out;
            background-color: var(--color);
        }

        .menu nav ul{
            display: block;
            width: 90%;
            height: 100%;
        }

        .menu nav ul li{
            padding: 10px;
        }

        .menu nav ul li:hover{
            background: rgba(238,238,238,0.2);
        }

        
        .hamb{
            cursor: pointer;
            float: right;
        }


        .hamb-line{
            background: var(--color);
            border-radius: 2px;
            display: block;
            height: 5px;
            position: relative;
            width: 30px;
            
        }

        .hamb-line::before,
        .hamb-line::after{
            background: var(--color);
            border-radius: 2px;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .hamb-line::before{
            top: 8px;
        }

        .hamb-line::after{
            top: -8px;
        }

       .side-menu {
            z-index: 1;
            opacity: 0;
            position: absolute;
            display: block;
            top:32px;
            right: 30px;
            width: 32px;
            height: 32px;
        }

        .side-menu:checked ~ nav{
            z-index: -1;
            padding-top: 20px;
            display: block;
            right: 30px;
            top:30px;
        }

        .side-menu:checked ~ nav ul li{
            width: 80%;
            font-size: large;
            text-align: start;
            width: 90%;
            color: #fff;
            margin: 10px;
        }

        .side-menu:checked ~ .hamb .hamb-line{
            background: transparent;
        }

        .side-menu:checked ~ .hamb .hamb-line::before{
            background: white;
            transform: rotate(-45deg);
            top:0;
        }

        .side-menu:checked ~ .hamb .hamb-line::after{
            background: white;
            transform: rotate(45deg);
            top:0;
        }



    main{
        margin: 40px 20px;
        padding-top: 80px;
    }

    section{
        width: 100%;
    }
        /* SECTION SOBRE MI */
        #sobre_mi{
            margin-top: 30px;
            flex-direction: column;
        }
    
        .texto_sombre_mi{
            width: 90%;
        }
    
        .texto_sombre_mi .linea_top, .texto_sombre_mi h2{
            font-size: 28px;
        }
    
        .texto_sombre_mi h1{
            margin: 10px 0px;
            font-size: 45px;
            text-align: start;
        }
    
        #contenedor_img{
            position: absolute;
            width: 50%;
            top: 90px;
            left: 180px;
        }
    
        #contenedor_img img{
            height: 80%;
            width: 80%;
            object-fit: cover;
            border-radius: 100px;
        }

        /* ANIMACIÓN CÍRCULO FOTO CV*/
        .animacion_bola{
            left: 55%;
            width: 70%;
            background: radial-gradient(circle, rgba(230,230,230,1) 50%, rgba(30,30,114,1) 60%);
        }               


    /* SECTION MÁQINA VIRTUAL */
    .maquina_virtual h2{
        text-align: center;
        font-size: 35px;
        letter-spacing: 5px;
        color: #000;
        margin: 0px;
        padding: 5px 0px;
        border: 3px solid var(--color);
        border-radius: 2px;
    }

    .articulos_ubuntu h3{
        font-size: 25px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .articulos_ubuntu ul li{
        text-align: start;
        padding-left: 2px;
    }

    .articulos_ubuntu ul li:hover{
        color: var(--color);
        font-weight: bold;
    }

    .articulos_ubuntu a{
        text-decoration: none;
        color: black;
    }
}